<div class="product-card product-card">
    <a href="#0">
        <div class="img-wrapper mb-4">
            {{ 'product2.png' | asset_url | img_tag: '','d-block' }}
        </div><!-- /img -->
        <div class="description">
            <p>CONSOLA XBOX ONE SERIES X 1TB NEGRO (CARBON BLACK)</p>
        </div><!-- /description -->
        <span class="price">Q9000.00</span>
        <div class="details">Ver Detalles</div>
    </a>
</div><!-- /product-card -->