@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import 'partials/media';

* {
    border-radius: 0 !important;
    font-family: 'Poppins', sans-serif;
    transition: all 200ms ease-in-out;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;

    @include media (md-max) {
        font-size: 14px;
    }
}

h1 {
    font-size: 46px;
    font-weight: 700;
    margin: 0;

    @include media (lg-max) {
        font-size: 32px;
    }

    @include media (sm-max) {
        font-size: 16px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;

    @include media (lg-max) {
        font-size: 30px;
    }

    @include media (md-max) {
        font-size: 24px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

    @include media(md-max) {
        font-size: 18px;
    }
}

.bg-primary,
.btn-primary {
    background-color: #CFE7F4 !important;
    color: #000;
    border-color: #CFE7F4 !important;
}

.bg-secondary,
.btn-secondary {
    background-color: #E5E5E5 !important;
    color: #000;
    border-color: #E5E5E5 !important;
}

.bg-info,
.btn-info {
    background-color: #07689F !important;
    color: #000;
    border-color: #07689F !important;
}

.text-info {
    color: #07689F !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #000;
}

.navbar-collapse {
    flex-grow: inherit;

    @include media (md-max) {
        text-align: center;
        margin-bottom: 20px;
    }
}

.navbar-nav  li a {
    padding: 5px 0;
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.dropdown-menu {
    li {
        a {
            padding: 5px;

            &:hover {
                color: #000;
            }
        }
    }
}

.nav-link, 
.dropdown-toggle, 
.show {
    color: #fff !important;
}

.navbar-toggler-icon {
    width: 27px;
}

.search-container {
    max-width: 500px;
    margin: 0 auto;
}

#shopify-section-header {
    box-shadow: 0px 5px 20px 0px #35495829;
}

.featured-slider-section {
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        z-index: 5;
        margin: 0 auto;
        transform: translate(-50%, -50%);
    }
}

.slider-btn-container .slider-btn {
    max-width: 25px;

    @include media (md-max) {
        max-width: 15px;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.featured-slider-section .slider-btn-container button.glider-prev{
    left: 0;
    top: 0;

    @include media (md-max) {
        left: 5px;
    }
}

.featured-slider-section .slider-btn-container button.glider-next{
    right: 0;
    top: 0;
    transform: rotate(180deg);

    @include media (md-max) {
        right: 5px;
    }
}

.glider-slide {
    position: relative;

    h1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0;
        margin-left: 40px;
        max-width: 500px;

        @include media (lg-max) {
            max-width: 280px;
        }

        @include media (md-max) {
            margin-left: 30px;
        }

        @include media (sm-max) {
            margin-left: 20px;
            max-width: 100px;
        }
    }
}

.item img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
}

.container-collections {
    padding: 50px 0;
}

.single-collection  {
    .collection-img img {
        max-height: 250px;
        object-fit: contain;
    }

    a {
        color: #000;
        text-decoration: none;
        display: block;
        transition: all 200ms ease-in-out;

        &:hover {
            color: #000;
            box-shadow: 0px 3px 14px 9px #00000014;
        }
    }
}

.popular-products {
    .container {
        position: relative;
    }
}

.heading-section {
    text-align: center;
    margin-bottom: 40px;
}

.see-all {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    display: block;

    @include media (md-min) {
        position: absolute;
        right: 15px;
        top: 20px;
        margin: 0;
        padding: 0;
    }
}

.product-card {
    height: 100%;

    a {
        height: 100%;
        transition: all 200ms ease-in-out;
        padding: 20px;
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 3px 14px 9px #00000014;

            .details {
                display: flex;
                transition: all 200ms ease-in-out;
            }
        }
    }

    .img-wrapper {
        max-height: 280px;

        img {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            max-height: 280px;
            object-fit: contain;
        }
    }

    .price {
        font-weight: 700;
        font-size: 20px;
        margin-top: auto;
    }

    .details {
        width: 100%;
        height: 100%;
        background-color: rgba(7, 103, 159, 0.812);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        display: none;
        transition: all 500ms ease-in-out;
    }
}

.collection-products {
    .container {
        position: relative;
    }
}

.social-media-banner {
    .social-media {
        .icon {
            width: 100%;
            text-align: center;

            svg {
                width: 100%;
                max-width: 60px;
                height: 100%;
                max-height: 55px;
                transition: all 200ms ease-in-out;

                @include media(lg-max) {
                    max-width: 35px;
                    max-height: 40px;
                }

                &:hover {
                    transform: scale(1.5);
                }

                path {
                    fill: #265169;
                }
            }
        }
    }
}

.hero-page,
.wrapper-list-collection-heading {

    h1 {
        @include media(md-max) {
            font-size: 28px;
        }
    }
}

.wrapper-blog-articles  {

    a {
        text-decoration: none;
        display: block;
        height: 100%;

        &:hover {
            box-shadow: 0px 5px 20px 0px #35495829;
        }

        .blog-article {
            height: 100%;

            .img {
                img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                    max-height: 230px;
                }
            }
        }
    }

}

.share-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-tags  {
    div a {
        color: #fff;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.search-results-content {
    a {
        text-decoration: none;
        position: relative;

        &:hover {
            text-decoration: underline;
            box-shadow: 0px 5px 20px 0px #35495829;
        }

        .post-type {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
}


.not-found-content {
    position: relative;

    .description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.shopify-payment-button__button {
    border: 1px solid #07689F;
    padding: 10px;
    font-size: 17px !important;
    min-height: auto !important;
    font-family: inherit !important;
    line-height: normal !important;
    font-family: 'Poppins', sans-serif !important;
}

.glider-related-products-prev,
.glider-related-products-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: auto;
    right: auto;
    border: 0;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67),color .5s cubic-bezier(.17,.67,.83,.67);
}

.button-slider .glider-related-products-prev {
    top: 0;
    left: auto;
    right: 0;
}

.glider-dot.active {
    background: #07689F;
}

.glider-related-products-prev.disabled,
.glider-related-products-next.disabled {
    opacity: .25;
    cursor: default;
}

.delete-item {
    svg {
        width: 20px;
    }
}

.bg-cover {
    background-size: cover;
}

.bg-form {
    height: 100vh;
    background-position: center center;
}

article {
    .image {
        position: relative;
        max-height: 500px;
        
        img {
            height: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        .container {
            position: absolute;
            margin: 0 auto;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: white;
        }
    }
}

footer {
    // margin-top: 100px;
    
    .footer-wrapper {
        background-color: #000;

        h3 {
            color: #fff;
            margin-bottom: 15px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    color: #fff;
                    margin-bottom: 10px;
                    display: block;
                    font-size: 14px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-copyright {
        small, small a {
            color: #fff;
            text-decoration: none;
        }
    }

    .social-media {
        max-width: 200px;

        .icon svg {
            max-width: 30px;
            max-height: 26px;

            path {
                fill: #ffffff;
            }
        }
    }
}
// https://www.studioproper.com/blogs/proper-journal/get-to-know-iphone-13s-powerful-photography-features