<section class="bg-cover bg-form" style="background-image: url( {{ 'form-bg.jpg' | asset_url }} )">
	<div class="container">
		<div class="row">
			<div class="col-md-7 mt-5">
				<div class="login-form-wrapper p-4 p-lg-5 bg-light border">
					<h2>Sign In</h2>
					<div class="login-form mt-4">
						{% form 'customer_login' %}
							{% if form.errors %}
								<div class="alert alert-danger">{{ form.errors | default_errors }}</div>
							{% endif %}
							<div class="form-floating mb-3">
								<input type="email" name="customer[email]" id="CustomerEmail" class="form-control"placeholder="name@example.com">
								<label for="CustomerEmail">Correo Electronico</label>
							</div><!--/.form-floating-->
							<div class="form-floating">
								<input type="password" name="customer[password]" id="CustomerPassword" class="form-control" placeholder="Password">
								<label for="CustomerPassword">Contrase単a</label>
							</div><!--/.form-floating-->
							<div class="text-end mt-2">
								<a href="#0" class="forgot-password">Olvidaste tu contrase単a?</a><br>
							</div><!--/.text-end-->
							<div class="form-links text-center d-flex align-items-center flex-column mt-4">
								<input type="submit" value="Ingresar" class="btn btn-info px-5 py-2 text-white">
								<a href="{{ routes.account_register_url }}" class="forgot-password mt-3">Crear una cuenta</a><br>
							</div><!--/.form-links-->
						{% endform %}
					</div><!-- /login-form -->
				</div><!-- /login-form-wrapper -->
			</div><!--/.col-md-7-->

			<div class="col-md-7">
				<div class="password-form-wrapper p-4 p-lg-5 bg-light border d-none">
					<h2>Recuperar Contrase単a</h2>
					<p>Te enviaremos un correo para recuperar tu contrase単a.</p>
					<div class="login-form mt-4">
						{% form 'recover_customer_password' %}
							{% if form.errors %}
								<div class="alert alert-danger">{{ form.errors | default_errors }}</div>
							{% endif %}
							<div class="form-floating mb-3">
								<input type="email" name="email" id="CustomerEmail" class="form-control"placeholder="Email">
								<label for="CustomerEmail">Correo Electronico</label>
							</div><!--/.form-floating-->
							<div class="form-links text-center d-flex align-items-center flex-column mt-4">
								<input type="submit" value="Listo" class="btn btn-info px-5 py-2 text-white">
                <a href="#0" class="cancel-recover-password text-center mt-3">Cancelar</a>
							</div><!--/.form-links-->
						{% endform %}
					</div><!-- /login-form -->
				</div><!-- /login-form-wrapper -->
			</div><!--/.col-->
		</div><!--/.row-->
	</div><!-- /container -->
</section>

<script>
	let loginFormWrapper = document.querySelector('.login-form-wrapper');
	let passwordFormWrapper = document.querySelector('.password-form-wrapper');
	let recoverLink = document.querySelector('.forgot-password');
	recoverLink.addEventListener('click', function() {
    loginFormWrapper.classList.add('d-none');
		passwordFormWrapper.classList.remove('d-none');
	});
  let cancelRecoverLink = document.querySelector('.cancel-recover-password');
	cancelRecoverLink.addEventListener('click', function() {
    loginFormWrapper.classList.remove('d-none');
		passwordFormWrapper.classList.add('d-none');
	});
</script>

