<div class="not-found-content">
  {{ '404.jpg' | asset_url | img_tag: '','d-block w-100' }}
  <div class="container text-center">
    <div class="description">
      <h1>404</h1>
      <h2>Página no encontrda!</h2>
      <a href="{{ routes.all_products_collection_url }}" class="btn btn-info px-5 text-white mt-3">Continúa comprando</a>
    </div>
  </div><!--/.container-->
</div><!--/.404-container-->