<div class="hero-page py-5 bg-info">
  <div class="container">
    <h1 class="text-center text-white">{{ page.title }}</h1>
  </div><!--/.container-->
</div><!--/.hero-page-->

<div class="wrapper-content my-5">
  <div class="container mb-5">
    {{ page.content }}
  </div>
</div>
