<div class="featured-banner my-5">
    <div class="container">
        <div class="featured-banner-wrapper p-4 p-md-5 bg-info">
            <div class="row">
                <div class="col-md-7 col-lg-8 d-flex align-items-center">
                    <div class="description mb-4 mb-md-0">
                        <h2 class="text-warning"><strong>Lo más nuevo!</strong></h2>
                        <h2 class="text-white mb-4">Aquí encontrarás consolas más potentes del momento.</h2>
                        <a href="#0" class="btn btn-secondary px-5 py-3">Comprar ahora</a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="img">
                        {{ 'img-banner.png' | asset_url | img_tag: '','d-block w-100' }}
                    </div><!-- /img -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /featured-banner-wrapper -->
    </div><!-- /container -->
</div><!--/.featured-banner-->

<div class="featured-banner my-5">
    <div class="container">
        <div class="featured-banner-wrapper p-4 p-md-5 bg-secondary">
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="img mb-4 mb-md-0">
                        {{ 'gift-card.png' | asset_url | img_tag: '','d-block w-100' }}
                    </div><!-- /img -->
                </div><!-- /col -->
                <div class="col-md-7 col-lg-8 d-flex align-items-center">
                    <div class="description">
                        <h2 class="text-danger"><strong>Tarjetas de regalo</strong></h2>
                        <h2 class="text-dark mb-4">Canjéalas por productos de nuestra tienda.</h2>
                        <a href="#0" class="btn btn-info px-5 py-3 text-white">Comprar ahora</a>
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /featured-banner-wrapper -->
    </div><!-- /container -->
</div><!--/.featured-banner-->