@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  border-radius: 0 !important;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin: 0; }
  @media screen and (max-width: 767px) {
    p {
      font-size: 14px; } }

h1 {
  font-size: 46px;
  font-weight: 700;
  margin: 0; }
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 32px; } }
  @media screen and (max-width: 575px) {
    h1 {
      font-size: 18px; } }

h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0; }
  @media screen and (max-width: 991px) {
    h2 {
      font-size: 30px; } }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 18px; } }

.bg-primary,
.btn-primary {
  background-color: #CFE7F4 !important;
  color: #000 !important;
  border-color: #CFE7F4 !important; }

.bg-secondary,
.btn-secondary {
  background-color: #E5E5E5 !important;
  color: #000;
  border-color: #E5E5E5 !important; }

.bg-info,
.btn-info {
  background-color: #07689F !important;
  color: #fff;
  border-color: #07689F !important; }

.text-info {
  color: #07689F !important; }

.text-primary {
  color: #CFE7F4 !important; }

.btn:hover,
.btn:active,
.btn:focus {
  color: #000; }

.navbar-collapse {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit; }
  @media screen and (max-width: 767px) {
    .navbar-collapse {
      text-align: center;
      margin-bottom: 20px; } }

.navbar-nav li a {
  padding: 5px 0;
  display: block;
  text-decoration: none; }
  .navbar-nav li a:hover {
    text-decoration: underline;
    color: #fff; }

.dropdown-menu li a {
  padding: 5px; }
  .dropdown-menu li a:hover {
    color: #000; }

.nav-link,
.dropdown-toggle {
  color: #fff !important; }

.navbar-toggler-icon {
  width: 27px; }

.search-container {
  max-width: 500px;
  margin: 0 auto; }

#shopify-section-header {
  -webkit-box-shadow: 0px 5px 20px 0px #35495829;
          box-shadow: 0px 5px 20px 0px #35495829; }

.featured-slider-section {
  position: relative; }
  .featured-slider-section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 5;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.slider-btn-container .slider-btn {
  max-width: 25px; }
  @media screen and (max-width: 767px) {
    .slider-btn-container .slider-btn {
      max-width: 15px; } }
  .slider-btn-container .slider-btn svg {
    width: 100%;
    height: 100%; }

.featured-slider-section .slider-btn-container button.glider-prev {
  left: 0;
  top: 0; }
  @media screen and (max-width: 767px) {
    .featured-slider-section .slider-btn-container button.glider-prev {
      left: 5px; } }

.featured-slider-section .slider-btn-container button.glider-next {
  right: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
  @media screen and (max-width: 767px) {
    .featured-slider-section .slider-btn-container button.glider-next {
      right: 5px; } }

.glider-slide {
  position: relative; }
  .glider-slide h1 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-bottom: 0;
    margin-left: 40px;
    max-width: 500px; }
    @media screen and (max-width: 991px) {
      .glider-slide h1 {
        max-width: 280px; } }
    @media screen and (max-width: 767px) {
      .glider-slide h1 {
        margin-left: 30px; } }
    @media screen and (max-width: 575px) {
      .glider-slide h1 {
        margin-left: 20px;
        max-width: 140px; } }

.item img {
  max-height: 600px;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%; }
  @media screen and (max-width: 1199px) {
    .item img {
      max-height: 500px;
      min-height: 500px; } }
  @media screen and (max-width: 991px) {
    .item img {
      min-height: 400px;
      min-height: 400px; } }
  @media screen and (max-width: 767px) {
    .item img {
      max-height: 300px;
      min-height: 300px; } }
  @media screen and (max-width: 575px) {
    .item img {
      max-height: 150px;
      min-height: 150px; } }

.container-collections {
  padding: 50px 0; }

.single-collection .collection-img img,
.single-collection .collection-img svg {
  min-height: 250px;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain; }
  @media screen and (max-width: 991px) {
    .single-collection .collection-img img,
    .single-collection .collection-img svg {
      min-height: 200px;
      max-height: 200px; } }
  @media screen and (max-width: 767px) {
    .single-collection .collection-img img,
    .single-collection .collection-img svg {
      min-height: 150px;
      max-height: 150px; } }

.single-collection a {
  color: #000;
  text-decoration: none;
  display: block;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .single-collection a:hover {
    color: #000;
    -webkit-box-shadow: 0px 3px 14px 9px #00000014;
            box-shadow: 0px 3px 14px 9px #00000014; }

.popular-products .container {
  position: relative; }

.heading-section {
  text-align: center;
  margin-bottom: 40px; }

.see-all {
  text-align: center;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block; }
  @media screen and (min-width: 768px) {
    .see-all {
      position: absolute;
      right: 15px;
      top: 20px;
      margin: 0;
      padding: 0; } }

.product-card {
  height: 100%; }
  .product-card a {
    height: 100%;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 20px;
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .product-card a:hover {
      -webkit-box-shadow: 0px 3px 14px 9px #00000014;
              box-shadow: 0px 3px 14px 9px #00000014; }
      .product-card a:hover .details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }
  .product-card .img-wrapper {
    max-height: 280px; }
    .product-card .img-wrapper img {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-height: 280px;
      -o-object-fit: contain;
         object-fit: contain; }
  .product-card .price {
    font-weight: 700;
    font-size: 20px;
    margin-top: auto; }
  .product-card .details {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 103, 159, 0.812);
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    font-size: 16px;
    display: none;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }

.collection-products .container {
  position: relative; }

.social-media-banner .social-media .icon {
  width: 100%;
  text-align: center; }
  .social-media-banner .social-media .icon svg {
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 55px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    @media screen and (max-width: 991px) {
      .social-media-banner .social-media .icon svg {
        max-width: 35px;
        max-height: 40px; } }
    .social-media-banner .social-media .icon svg:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
    .social-media-banner .social-media .icon svg path {
      fill: #265169; }

@media screen and (max-width: 767px) {
  .hero-page h1,
  .wrapper-list-collection-heading h1 {
    font-size: 28px; } }

.wrapper-blog-articles a {
  text-decoration: none;
  display: block;
  height: 100%; }
  .wrapper-blog-articles a:hover {
    -webkit-box-shadow: 0px 5px 20px 0px #35495829;
            box-shadow: 0px 5px 20px 0px #35495829; }
  .wrapper-blog-articles a .blog-article {
    height: 100%; }
    .wrapper-blog-articles a .blog-article .img img {
      width: 100%;
      height: 230px;
      -o-object-fit: cover;
         object-fit: cover;
      max-height: 230px; }

.featured-image-primary img {
  max-height: 450px;
  -o-object-fit: contain;
     object-fit: contain; }

.share-buttons {
  list-style: none;
  margin: 0;
  padding: 0; }

.article-tags div a {
  color: #fff;
  text-decoration: none; }
  .article-tags div a:hover {
    text-decoration: underline; }

.search-results-content a {
  text-decoration: none;
  position: relative; }
  .search-results-content a:hover {
    text-decoration: underline;
    -webkit-box-shadow: 0px 5px 20px 0px #35495829;
            box-shadow: 0px 5px 20px 0px #35495829; }
  .search-results-content a .post-type {
    position: absolute;
    top: 10px;
    left: 10px; }

.not-found-content {
  position: relative; }
  .not-found-content .description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.shopify-payment-button__button {
  border: 1px solid #07689F;
  padding: 10px;
  font-size: 17px !important;
  min-height: auto !important;
  font-family: inherit !important;
  line-height: normal !important;
  font-family: 'Poppins', sans-serif !important; }

.glider-related-products-prev,
.glider-related-products-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: auto;
  right: auto;
  border: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

.button-slider .glider-related-products-prev {
  top: 0;
  left: auto;
  right: 0; }

.glider-dot.active {
  background: #07689F; }

.glider-related-products-prev.disabled,
.glider-related-products-next.disabled {
  opacity: .25;
  cursor: default; }

.delete-item svg {
  width: 20px; }

.bg-cover {
  background-size: cover; }

.bg-form {
  height: 100vh;
  background-position: center center; }

.customer-account {
  margin-top: 0 !important;
  padding-top: 0 !important; }
  .customer-account a svg {
    width: 1.5rem;
    margin-bottom: -0.03rem;
    margin-right: 5px; }

.btn-account {
  color: #000 !important; }

article .image {
  position: relative;
  max-height: 500px; }
  article .image img {
    height: 100%;
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover; }
  article .image .container {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: white; }

footer .footer-wrapper {
  background-color: #000; }
  footer .footer-wrapper h3 {
    color: #fff;
    margin-bottom: 15px; }
  footer .footer-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .footer-wrapper ul li a {
      text-decoration: none;
      color: #fff;
      margin-bottom: 10px;
      display: block;
      font-size: 14px; }
      footer .footer-wrapper ul li a:hover {
        text-decoration: underline; }

footer .footer-copyright small, footer .footer-copyright small a {
  color: #fff;
  text-decoration: none; }

footer .social-media {
  max-width: 200px; }
  footer .social-media .icon svg {
    max-width: 30px;
    max-height: 26px; }
    footer .social-media .icon svg path {
      fill: #ffffff; }

footer .newsletter-form__message svg {
  width: 30px; }
/*# sourceMappingURL=site-styles.css.map */